.hero {
  background-size: cover;

  @include media-breakpoint-up(md) {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 350px;
    padding-bottom: 350px;
  }
}
